export("base2base", "bigAnd", "bigNot", "bigOr", "bigShiftL", "bigShiftR",
       "bigXor", "buildBinaries", "noExp","fracB2B")
exportPattern("^[[:alpha:]]+")
importFrom("gmp", "as.bigz", "as.bigq","pow.bigq", "is.bigz", "numerator" , "denominator")
importFrom("Rmpfr", "mpfr",  ".mpfr2bigz", ".bigz2mpfr", "is.mpfr", "formatDec")
importFrom("methods", "is", "as")
